@import url("https://rawgit.com/Soojovi/dome/master/userscopy.css");
@import url("https://rawgit.com/Soojovi/dome/master/rdjs.css");

#room-bar .icon-room {
    background: url(http://i.imgur.com/w6YykiM.png);
}

#playback-container {
    background-image: url();
    background-position: center;
    background-size: 100% auto;
}

#chat .message:nth-child(2n+1) #chat .mention:nth-child(2n+1) #chat .skip:nth-child(2n+1) #chat .moderation:nth-child(2n+1) #chat .emote:nth-child(2n+1) #chat .update:nth-child(2n+1) #chat .welcome:nth-child(2n+1) {
    background-color: rgba(17 19 23 0.32);
    -webkit-animation: fadein 0.25s;
    -moz-animation: fadein 0.25s;
    -ms-animation: fadein 0.25s;
    -o-animation: fadein 0.25s;
    animation: fadein 0.25s;
    animation: fadein 0.25s;
    background-color: #111317;
    border-radius: 0px;
    background-color: rgba(17 19 23 0.5);
}

#chat #chat-input {
    background: rgba(80 80 80 0.25);
}

.icon-chat-host > span {
    color: #a56eff !important;
}

#playlist-panel {
    opacity: .85;
}

#footer {
    background-color: rgba(30 30 36 1) !important;
}

#playback-controls .button.snooze {
    background: #00afe4 !important;
    opacity: .7;
}

#playlist-button {
    background: #a56eff !important;
}

#playlist-menu .menu .row.selected {
    background: #a56eff !important;
}

.media-list .row.now-playing {
    background: #a56eff !important;
    border-bottom: 1px solid #ff5f7c !important;
}

#playlist-menu .menu .row .count {
    color: #a56eff !important;
}

#grab .bottom #grab.selected {
    background: #00afe4 !important;
}

#footer-user .bar .progress {
    background: #a56eff !important;
}

.experience .xp .bar .progress {
    background: #a56eff !important;
}

.activate-button span {
    color: #FFFFFF !important;
}

#playlist-activate-button {
    background: none !important;
}

#playlist-activate-button span {
    color: #a56eff !important;
}

.media-list .row.now-playing .actions {
    background: #a56eff !important;
}

.media-list .row.selected {
    background: #a56eff !important;
}

.media-list .selected .actions {
    background: #a56eff !important;
}

#user-lists .header .button.staff.selected {
    border-bottom: 1px solid #a56eff !important;
}

.dialog.destructive .button.submit {
}

#room-info .button.disabled {
    background: #a56eff !important;
}

#room-info .button.enabled {
    background: #00afe4 !important;
}

#playlist-create:hover {
    background: #0191ff !important;
}

#playlist-import:hover {
    background: #0191ff !important;
}

#playlist-edit-button:hover {
    background: #0191ff !important;
}

#playlist-shuffle-button:hover {
    background: #a56eff !important;
}

#playlist-delete-button:hover {
    background: #f3663d !important;
}

.tab-menu button.selected {
    background: #a56eff !important;
}

#dj-button .left {
    background: #00afe4 !important;
}

#dj-button.is-leave .left {
    background: #f3663d !important;
}

#dj-button.is-quit .left {
    background: #f3663d !important;
}

.delete-button:hover {
    background: #a56eff !important;
}

.icon-plug-dj {
    display: none;
}

#chat .icon .icon-p3 {
    background-image: url('') !important;
}

.icon-chat-ambassador + span {
    color: #89be6c !important;
}

.icon-chat-host + span {
    color: #a56eff !important;
}

.icon-chat-cohost + span {
    color: #a56eff !important;
}

.icon-chat-manager + span {
    color: #a56eff !important;
}

.icon-chat-bouncer + span {
    color: #a56eff !important;
}

.icon-chat-dj + span {
    color: #a56eff !important;
}

#chat .emote #chat .mention #chat .message #chat .moderation #chat .skip #chat .system #chat .update #chat .welcome {
    -webkit-animation: fadein 0.25s;
    -moz-animation: fadein 0.25s;
    -ms-animation: fadein 0.25s;
    -o-animation: fadein 0.25s;
    animation: fadein 0.25s;
}

#chat .moderation, #chat .moderation .from .un{
    color: #01e1ff;
}

#chat .message:hover #chat .emote:hover #chat .update:hover {
    -moz-transition: 100ms linear 50ms;
    -o-transition: 100ms linear 50ms;
    -webkit-transition: 100ms linear 50ms;
    border-left: #FFFFFF 1px solid;
    padding-left: 1px;
    text-decoration: none;
    transition: 100ms linear 50ms;
}

#chat .moderation:hover {
    -moz-transition: 100ms linear 50ms;
    -o-transition: 100ms linear 50ms;
    -webkit-transition: 100ms linear 50ms;
    border-left: #FF7676 1px solid;
    padding-left: 1px;
    text-decoration: none;
    transition: 100ms linear 50ms;
}

#chat .message:nth-child(2n+1)#chat .mention:nth-child(2n+1)#chat .skip:nth-child(2n+1)#chat .moderation:nth-child(2n+1)#chat .emote:nth-child(2n+1)#chat .update:nth-child(2n+1)#chat .welcome:nth-child(2n+1) {
    background-color: rgba(17 19 23 1.0);
    -webkit-animation: fadein 0.25s;
    -moz-animation: fadein 0.25s;
    -ms-animation: fadein 0.25s;
    -o-animation: fadein 0.25s;
    animation: fadein 0.25s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.drag-media-box {
    background-color: #a56eff
}

body {
    background-size: 100% auto !important background-attachment: fixed 0px 0px !important
} 
