/* CUSTOM RDJs */
#chat .fromID-4036825 .un,
#chat .id-4036825 .un,
#chat .fromID-3424522 .un,
#chat .id-3424522 .un,
#chat .fromID-15260416 .un,
#chat .id-15260416 .un,
#chat .fromID-14935155 .un,
#chat .id-14935155 .un,
#chat .fromID-4866227 .un,
#chat .id-4866227 .un,
#chat .fromID-3862893 .un,
#chat .id-3862893 .un,
#chat .fromID-6603548 .un,
#chat .id-6603548 .un {
    color: #89BE6C;
}
.fromID-4036825 .msg .from .un:after,
.id-4036825 .msg .from .un:after,
.fromID-3424522 .msg .from .un:after,
.id-3424522 .msg .from .un:after,
.fromID-15260416 .msg .from .un:after,
.id-15260416 .msg .from .un:after,
.fromID-14935155 .msg .from .un:after,
.id-14935155 .msg .from .un:after,
.fromID-4866227 .msg .from .un:after,
.id-4866227 .msg .from .un:after,
.fromID-3862893 .msg .from .un:after,
.id-3862893 .msg .from .un:after,
.fromID-6603548 .msg .from .un:after,
.id-6603548 .msg .from .un:after {
    content: " "url("https://mitchdev.net/pdj/rdj.png") !important;
    top: 3px;
    position: relative;
}
#chat .fromID-10587451 .un,
#chat .id-10587451 .un,
#chat .fromID-4538423 .un,
#chat .id-4538423 .un,
#chat .fromID-3806818 .un,
#chat .id-3806818 .un {
    color: #42A5DC!important;
}
