#chat-messages .fromID-9982311 .badge-box i.bdg,
#chat-messages .id-9982311 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/9982311.gif);
    background-size: cover;
}

#chat-messages .id-3886235 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/3886235.jpg);
    background-size: cover;
}

#chat-messages .fromID-3472800 .badge-box i.bdg,
#chat-messages .id-3472800 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/3472800.gif);
    background-size: cover;
}

#chat-messages .fromID-3961888 .badge-box i.bdg,
#chat-messages .id-3961888 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/3961888.gif);
    background-size: cover;
}

#chat-messages .ifromID12482051 .badge-box i.bdg,
#chat-messages .id-12482051 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/12482051.jpg);
    background-size: cover;
}

#chat-messages .fromID-4376124 .badge-box i.bdg,
#chat-messages .id-4376124 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/4376124.jpg);
    background-size: cover;
}

#chat-messages .fromID-4915583 .badge-box i.bdg,
#chat-messages .id-4915583 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/4915583.gif);
    background-size: cover;
}

#chat-messages .fromID-6619523 .badge-box i.bdg,
#chat-messages .id-6619523 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/6619523.jpg);
    background-size: cover;
}

#chat-messages .fromID-5673259 .badge-box i.bdg,
#chat-messages .id-5673259 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/5673259.gif);
    background-size: cover;
}

#chat-messages .fromID-6669290 .badge-box i.bdg,
#chat-messages .id-6669290 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/6669290.jpg);
    background-size: cover;
}

#chat-messages .fromID-3796520 .badge-box i.bdg,
#chat-messages .id-3796520 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/3796520.gif);
    background-size: cover;
}

#chat-messages .fromID-4110867 .badge-box i.bdg,
#chat-messages .id-4110867 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/4110867.gif);
    background-size: cover;
}

#chat-messages .fromID-4923532 .badge-box i.bdg,
#chat-messages .id-4923532 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/4923532.gif);
    background-size: cover;
}

#chat-messages .fromID-5302780 .badge-box i.bdg,
#chat-messages .id-5302780 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/5302780.gif);
    background-size: cover;
}

#chat-messages .fromID-8642914 .badge-box i.bdg,
#chat-messages .id-8642914 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/8642914.gif);
    background-size: cover;
}

#chat-messages .fromID-6154457 .badge-box i.bdg,
#chat-messages .id-6154457 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/6154457.gif);
    background-size: cover;
}

#chat-messages .fromID-1326827 .badge-box i.bdg,
#chat-messages .id-1326827 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/1326827.jpg);
    background-size: cover;
}

#chat-messages .fromID-6453428 .badge-box i.bdg,
#chat-messages .id-6453428 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/6453428.gif);
    background-size: cover;
}

#chat-messages .fromID-6615763 .badge-box i.bdg,
#chat-messages .id-6615763 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/6615763.png);
    background-size: cover;
}

#chat-messages .fromID-8091970 .badge-box i.bdg,
#chat-messages .id-8091970 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/8091970.gif);
    background-size: cover;
}

#chat-messages .fromID-4123271 .badge-box i.bdg,
#chat-messages .id-4123271 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/4123271.gif);
    background-size: cover;
}

#chat-messages .fromID-3292657 .badge-box i.bdg,
#chat-messages .id-3292657 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/3292657.gif);
    background-size: cover;
}

#chat-messages .fromID-4175902 .badge-box i.bdg,
#chat-messages .id-4175902 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/4175902.gif);
    background-size: cover;
}

#chat-messages .fromID-3628288 .badge-box i.bdg,
#chat-messages .id-3628288 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/3628288.png);
    background-size: cover;
}

#chat-messages .fromID-6608098 .badge-box i.bdg,
#chat-messages .id-6608098 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/6608098.png);
    background-size: cover;
}

#chat-messages .fromID-8964712 .badge-box i.bdg,
#chat-messages .id-8964712 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/8964712.jpg);
    background-size: cover;
}

#chat-messages .fromID-3525043 .badge-box i.bdg,
#chat-messages .id-3525043 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/3525043.gif);
    background-size: cover;
}

#chat-messages .fromID-3533136 .badge-box i.bdg,
#chat-messages .id-3533136 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/3533136.gif);
    background-size: cover;
}

#chat-messages .fromID-3479627 .badge-box i.bdg,
#chat-messages .id-3479627 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/3479627.gif);
    background-size: cover;
}

#chat-messages .fromID-3712531 .badge-box i.bdg,
#chat-messages .id-3712531 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/3712531.png);
    background-size: cover;
}

#chat-messages .fromID-6725528 .badge-box i.bdg,
#chat-messages .id-6725528 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/6725528.jpg);
    background-size: cover;
}

#chat-messages .fromID-8138590 .badge-box i.bdg,
#chat-messages .id-8138590 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/8138590.gif);
    background-size: cover;
}

#chat-messages .fromID-5799988 .badge-box i.bdg,
#chat-messages .id-5799988 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/5799988.jpg);
    background-size: cover;
}

#chat-messages .fromID-4621313 .badge-box i.bdg,
#chat-messages .id-4621313 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/4621313.gif);
    background-size: cover;
}

#chat-messages .fromID-4463726 .badge-box i.bdg,
#chat-messages .id-4463726 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/4463726.png);
    background-size: cover;
}

#chat-messages .fromID-7670001 .badge-box i.bdg,
#chat-messages .id-7670001 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/7670001.png);
    background-size: cover;
}

#chat-messages .fromID-4115125 .badge-box i.bdg,
#chat-messages .id-4115125 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/4115125.gif);
    background-size: cover;
}

#chat-messages .fromID-5767548 .badge-box i.bdg,
#chat-messages .id-5767548 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/5767548.png);
    background-size: cover;
}

#chat-messages .fromID-6691756 .badge-box i.bdg,
#chat-messages .id-6691756 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/6691756.gif);
    background-size: cover;
}

#chat-messages .fromID-6591830 .badge-box i.bdg,
#chat-messages .id-6591830 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/6591830.gif);
    background-size: cover;
}

#chat-messages .fromID-4652868 .badge-box i.bdg,
#chat-messages .id-4652868 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/4652868.gif);
    background-size: cover;
}

#chat-messages .fromID-4058801 .badge-box i.bdg,
#chat-messages .id-4058801 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/4058801.gif);
    background-size: cover;
}

#chat-messages .fromID-6445687 .badge-box i.bdg,
#chat-messages .id-6445687 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/6445687.gif);
    background-size: cover;
}

#chat-messages .fromID-5271606 .badge-box i.bdg,
#chat-messages .id-5271606 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/5271606.gif);
    background-size: cover;
}

#chat-messages .fromID-5497074 .badge-box i.bdg,
#chat-messages .id-5497074 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/5497074.gif);
    background-size: cover;
}

#chat-messages .fromID-6614847 .badge-box i.bdg,
#chat-messages .id-6614847 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/6614847.gif);
    background-size: cover;
}

#chat-messages .fromID-6717962 .badge-box i.bdg,
#chat-messages .id-6717962 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/6717962.gif);
    background-size: cover;
}

#chat-messages .fromID-5847875 .badge-box i.bdg,
#chat-messages .id-5847875 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/5847875.gif);
    background-size: cover;
}

#chat-messages .fromID-5379514 .badge-box i.bdg,
#chat-messages .id-5379514 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/5379514.gif);
    background-size: cover;
}

#chat-messages .fromID-1325306 .badge-box i.bdg,
#chat-messages .id-1325306 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/1325306.gif);
    background-size: cover;
}

#chat-messages .fromID-6194313 .badge-box i.bdg,
#chat-messages .id-6194313 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/6194313.gif);
    background-size: cover;
}

#chat-messages .fromID-3489015 .badge-box i.bdg,
#chat-messages .id-3489015 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/3489015.png);
    background-size: cover;
}

#chat-messages .fromID-4457882 .badge-box i.bdg,
#chat-messages .id-4457882 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/4457882.gif);
    background-size: cover;
}

#chat-messages .fromID-4368064 .badge-box i.bdg,
#chat-messages .id-4368064 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Police.gif);
    background-size: cover;
}

#chat-messages .fromID-3929282 .badge-box i.bdg,
#chat-messages .id-3929282 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Molly.gif);
    background-size: cover;
}

#chat-messages .fromID-3833117 .badge-box i.bdg,
#chat-messages .id-3833117 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/French.gif);
    background-size: cover;
}

#chat-messages .fromID-4520681 .badge-box i.bdg,
#chat-messages .id-4520681 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Kitty.gif);
    background-size: cover;
}

#chat-messages .fromID-3627728 .badge-box i.bdg,
#chat-messages .id-3627728 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Froo.png);
    background-size: cover;
}

#chat-messages .fromID-4868332 .badge-box i.bdg,
#chat-messages .id-4868332 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Aber.gif);
    background-size: cover;
}

#chat-messages .fromID-4380925 .badge-box i.bdg,
#chat-messages .id-4380925 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Oshen.png);
    background-size: cover;
}

#chat-messages .fromID-4295782 .badge-box i.bdg,
#chat-messages .id-4295782 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Dr.png);
    background-size: cover;
}

#chat-messages .fromID-3708674 .badge-box i.bdg,
#chat-messages .id-3708674 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Pale.png);
    background-size: cover;
}

#chat-messages .fromID-4774307 .badge-box i.bdg,
#chat-messages .id-4774307 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Dawg.gif);
    background-size: cover;
}

#chat-messages .fromID-5014744 .badge-box i.bdg,
#chat-messages .id-5014744 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Uncle.gif);
    background-size: cover;
}

#chat-messages .fromID-5802319 .badge-box i.bdg,
#chat-messages .id-5802319 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/www.png);
    background-size: cover;
}

#chat-messages .fromID-5795960 .badge-box i.bdg,
#chat-messages .id-5795960 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Meat.png);
    background-size: cover;
}

#chat-messages .fromID-5856472 .badge-box i.bdg,
#chat-messages .id-5856472 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/nymira.png);
    background-size: cover;
}

#chat-messages .fromID-4123599 .badge-box i.bdg,
#chat-messages .id-4123599 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Gravel.png);
    background-size: cover;
}

#chat-messages .fromID-3994467 .badge-box i.bdg,
#chat-messages .id-3994467 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Mar.png);
    background-size: cover;
}

#chat-messages .fromID-5581119 .badge-box i.bdg,
#chat-messages .id-5581119 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/drowna.png);
    background-size: cover;
}

#chat-messages .fromID-4702259 .badge-box i.bdg,
#chat-messages .id-4702259 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/4702259.gif);
    background-size: cover;
}

#chat-messages .fromID-3960320 .badge-box i.bdg,
#chat-messages .id-3960320 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Niobi.png);
    background-size: cover;
}

#chat-messages .fromID-5187399 .badge-box i.bdg,
#chat-messages .id-5187399 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Mawu.gif);
    background-size: cover;
}

#chat-messages .fromID-3868457 .badge-box i.bdg,
#chat-messages .id-3868457 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Alaclis.gif);
    background-size: cover;
}

#chat-messages .fromID-4425035 .badge-box i.bdg,
#chat-messages .id-4425035 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/African.gif);
    background-size: cover;
}

#chat-messages .fromID-4003644 .badge-box i.bdg,
#chat-messages .id-4003644 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/4003644.gif);
    background-size: cover;
}

#chat-messages .fromID-3778647 .badge-box i.bdg,
#chat-messages .id-3778647 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Duke.png);
    background-size: cover;
}

#chat-messages .fromID-4448479 .badge-box i.bdg,
#chat-messages .id-4448479 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Z.gif);
    background-size: cover;
}

#chat-messages .fromID-4089177 .badge-box i.bdg,
#chat-messages .id-4089177 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Extasis.png);
    background-size: cover;
}

#chat-messages .fromID-5280962 .badge-box i.bdg,
#chat-messages .id-5280962 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/menzx.png);
    background-size: cover;
}

#chat-messages .fromID-4929829 .badge-box i.bdg,
#chat-messages .id-4929829 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/ocean.gif);
    background-size: cover;
}

#chat-messages .fromID-4122762 .badge-box i.bdg,
#chat-messages .id-4122762 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/desko.png);
    background-size: cover;
}

#chat-messages .fromID-4144312 .badge-box i.bdg,
#chat-messages .id-4144312 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/faceofflynn.png);
    background-size: cover;
}

#chat-messages .fromID-5245411 .badge-box i.bdg,
#chat-messages .id-5245411 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Gyre.png);
    background-size: cover;
}

#chat-messages .fromID-3996856 .badge-box i.bdg,
#chat-messages .id-3996856 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Kode.gif);
    background-size: cover;
}

#chat-messages .fromID-3767595 .badge-box i.bdg,
#chat-messages .id-3767595 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Obzerv.png);
    background-size: cover;
}

#chat-messages .fromID-3687347 .badge-box i.bdg,
#chat-messages .id-3687347 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/carlid.gif);
    background-size: cover;
}

#chat-messages .fromID-5890172 .badge-box i.bdg,
#chat-messages .id-5890172 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/jayna.gif);
    background-size: cover;
}

#chat-messages .fromID-3612578 .badge-box i.bdg,
#chat-messages .id-3612578 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Makrosz.gif);
    background-size: cover;
}

#chat-messages .fromID-4306569 .badge-box i.bdg,
#chat-messages .id-4306569 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Lugger.png);
    background-size: cover;
}

#chat-messages .fromID-4328123 .badge-box i.bdg,
#chat-messages .id-4328123 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/chillwave.png);
    background-size: cover;
}

#chat-messages .fromID-4553320 .badge-box i.bdg,
#chat-messages .id-4553320 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/dregg.gif);
    background-size: cover;
}

#chat-messages .fromID-5748918 .badge-box i.bdg,
#chat-messages .id-5748918 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/GrMo.gif);
    background-size: cover;
}

#chat-messages .fromID-4356346 .badge-box i.bdg,
#chat-messages .id-4356346 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/notion.gif);
    background-size: cover;
}

#chat-messages .fromID-5406353 .badge-box i.bdg,
#chat-messages .id-5406353 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Egzuht.gif);
    background-size: cover;
}

#chat-messages .fromID-4352830 .badge-box i.bdg,
#chat-messages .id-4352830 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Ninguex.gif);
    background-size: cover;
}

#chat-messages .fromID-5005391 .badge-box i.bdg,
#chat-messages .id-5005391 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Poolie.png);
    background-size: cover;
}

#chat-messages .fromID-3659236 .badge-box i.bdg,
#chat-messages .id-3659236 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/NARALITH.png);
    background-size: cover;
}

#chat-messages .fromID-5640278 .badge-box i.bdg,
#chat-messages .id-5640278 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Ethaos.gif);
    background-size: cover;
}

#chat-messages .fromID-5175220 .badge-box i.bdg,
#chat-messages .id-5175220 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Ethosia.gif);
    background-size: cover;
}

#chat-messages .fromID-3423656 .badge-box i.bdg,
#chat-messages .id-3423656 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Zero7CO.gif);
    background-size: cover;
}

#chat-messages .fromID-5636068 .badge-box i.bdg,
#chat-messages .id-5636068 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/chilloutmusic.gif);
    background-size: cover;
}

#chat-messages .fromID-5017779 .badge-box i.bdg,
#chat-messages .id-5017779 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/ode.gif);
    background-size: cover;
}

#chat-messages .fromID-5329023 .badge-box i.bdg,
#chat-messages .id-5329023 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/jbear.png);
    background-size: cover;
}

#chat-messages .fromID-5339128 .badge-box i.bdg,
#chat-messages .id-5339128 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/DerWonMusics.gif);
    background-size: cover;
}

#chat-messages .fromID-5635272 .badge-box i.bdg,
#chat-messages .id-5635272 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/auzz.gif);
    background-size: cover;
}

#chat-messages .fromID-5951478 .badge-box i.bdg,
#chat-messages .id-5951478 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/chilltree.gif);
    background-size: cover;
}

#chat-messages .fromID-4678056 .badge-box i.bdg,
#chat-messages .id-4678056 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/kickass.gif);
    background-size: cover;
}

#chat-messages .fromID-4404477 .badge-box i.bdg,
#chat-messages .id-4404477 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/4404477.png);
    background-size: cover;
}

#chat-messages .fromID-3255198 .badge-box i.bdg,
#chat-messages .id-3255198 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/3255198.png);
    background-size: cover;
}

#chat-messages .fromID-4521156 .badge-box i.bdg,
#chat-messages .id-4521156 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/chief.gif);
    background-size: cover;
}

#chat-messages .fromID-3987156 .badge-box i.bdg,
#chat-messages .id-3987156 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Ghostdive.png);
    background-size: cover;
}

#chat-messages .fromID-3929949 .badge-box i.bdg,
#chat-messages .id-3929949 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Enceladus.png);
    background-size: cover;
}

#chat-messages .fromID-3741006 .badge-box i.bdg,
#chat-messages .id-3741006 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/datfood.gif);
    background-size: cover;
}

#chat-messages .fromID-4706897 .badge-box i.bdg,
#chat-messages .id-4706897 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/bananapie.gif);
    background-size: cover;
}

#chat-messages .fromID-5661329 .badge-box i.bdg,
#chat-messages .id-5661329 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/RippedPants.gif);
    background-size: cover;
}

#chat-messages .fromID-3584016 .badge-box i.bdg,
#chat-messages .id-3584016 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/poop.gif);
    background-size: cover;
}

#chat-messages .fromID-3767036 .badge-box i.bdg,
#chat-messages .id-3767036 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Fredbit.png);
    background-size: cover;
}

#chat-messages .fromID-5989466 .badge-box i.bdg,
#chat-messages .id-5989466 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/outwest.gif);
    background-size: cover;
}

#chat-messages .fromID-3693770 .badge-box i.bdg,
#chat-messages .id-3693770 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/braincomb.gif);
    background-size: cover;
}

#chat-messages .fromID-5877038 .badge-box i.bdg,
#chat-messages .id-5877038 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/4Ice.png);
    background-size: cover;
}

#chat-messages .fromID-4706897 .badge-box i.bdg,
#chat-messages .id-4706897 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/4706897.gif);
    background-size: cover;
}

#chat-messages .fromID-5924731 .badge-box i.bdg,
#chat-messages .id-5924731 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Tensik.png);
    background-size: cover;
}

#chat-messages .fromID-5352586 .badge-box i.bdg,
#chat-messages .id-5352586 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/1enigmatc.png);
    background-size: cover;
}

#chat-messages .fromID-4880270 .badge-box i.bdg,
#chat-messages .id-4880270 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Fastoche.gif);
    background-size: cover;
}

#chat-messages .fromID-3992653 .badge-box i.bdg,
#chat-messages .id-3992653 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/fretless.gif);
    background-size: cover;
}

#chat-messages .fromID-3800051 .badge-box i.bdg,
#chat-messages .id-3800051 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/lars.gif);
    background-size: cover;
}

#chat-messages .fromID-3749154 .badge-box i.bdg,
#chat-messages .id-3749154 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Pantalons-a-croquer.png);
    background-size: cover;
}

#chat-messages .fromID-5636068 .badge-box i.bdg,
#chat-messages .id-5636068 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/ChilloutMusic.gif);
    background-size: cover;
}

#chat-messages .fromID-5196822 .badge-box i.bdg,
#chat-messages .id-5196822 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Crackerz.gif);
    background-size: cover;
}

#chat-messages .fromID-3960096 .badge-box i.bdg,
#chat-messages .id-3960096 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Nantes.png);
    background-size: cover;
}

#chat-messages .fromID-5412440 .badge-box i.bdg,
#chat-messages .id-5412440 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/5412440.gif);
    background-size: cover;
}

#chat-messages .fromID-5175220 .badge-box i.bdg,
#chat-messages .id-5175220 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/chillspace2.png);
    background-size: cover;
}

#chat-messages .fromID-6059492 .badge-box i.bdg,
#chat-messages .id-6059492 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/6059492.gif);
    background-size: cover;
}

#chat-messages .fromID-5968030 .badge-box i.bdg,
#chat-messages .id-5968030 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/5968030.gif);
    background-size: cover;
}

#chat-messages .fromID-6134030 .badge-box i.bdg,
#chat-messages .id-6134030 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/BuckFabylon.gif);
    background-size: cover;
}

#chat-messages .fromID-5611115 .badge-box i.bdg,
#chat-messages .id-5611115 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/cat.gif);
    background-size: cover;
}

#chat-messages .fromID-3552031 .badge-box i.bdg,
#chat-messages .id-3552031 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/sjay34.gif);
    background-size: cover;
}

#chat-messages .fromID-5533161 .badge-box i.bdg,
#chat-messages .id-5533161 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/child.gif);
    background-size: cover;
}

#chat-messages .fromID-5698509 .badge-box i.bdg,
#chat-messages .id-5698509 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/wie2.png);
    background-size: cover;
}

#chat-messages .fromID-4063961 .badge-box i.bdg,
#chat-messages .id-4063961 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/ChilloutDreamer.png);
    background-size: cover;
}

#chat-messages .fromID-4081738 .badge-box i.bdg,
#chat-messages .id-4081738 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/cube.jpg);
    background-size: cover;
}

#chat-messages .fromID-4921869 .badge-box i.bdg,
#chat-messages .id-4921869 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/king.gif);
    background-size: cover;
}

#chat-messages .fromID-4130366 .badge-box i.bdg,
#chat-messages .id-4130366 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Sovex66.png);
    background-size: cover;
}

#chat-messages .fromID-4883942 .badge-box i.bdg,
#chat-messages .id-4883942 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Vicion.gif);
    background-size: cover;
}

#chat-messages .fromID-5901239 .badge-box i.bdg,
#chat-messages .id-5901239 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/b1.jpg);
    background-size: cover;
}

#chat-messages .fromID-3475299 .badge-box i.bdg,
#chat-messages .id-3475299 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/mad.gif);
    background-size: cover;
}

#chat-messages .fromID-3638662 .badge-box i.bdg,
#chat-messages .id-3638662 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Synaesthetik.png);
    background-size: cover;
}

#chat-messages .fromID-3650406 .badge-box i.bdg,
#chat-messages .id-3650406 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/gobbo.gif);
    background-size: cover;
}

#chat-messages .fromID-6043139 .badge-box i.bdg,
#chat-messages .id-6043139 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Advntr.gif);
    background-size: cover;
}

#chat-messages .fromID-6438937 .badge-box i.bdg,
#chat-messages .id-6438937 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/mtmdubstep.gif);
    background-size: cover;
}

#chat-messages .fromID-3832300 .badge-box i.bdg,
#chat-messages .id-3832300 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Notturno.gif);
    background-size: cover;
}

#chat-messages .fromID-6450808 .badge-box i.bdg,
#chat-messages .id-6450808 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/lukellyk.gif);
    background-size: cover;
}

#chat-messages .fromID-4343261 .badge-box i.bdg,
#chat-messages .id-4343261 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/CordiBeats.gif);
    background-size: cover;
}

#chat-messages .fromID-3745645 .badge-box i.bdg,
#chat-messages .id-3745645 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/3745645.gif);
    background-size: cover;
}

#chat-messages .fromID-3541405 .badge-box i.bdg,
#chat-messages .id-3541405 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/3541405.jpg);
    background-size: cover;
}

#chat-messages .fromID-4036825 .badge-box i.bdg,
#chat-messages .id-4036825 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/4036825.gif);
    background-size: cover;
}

#chat-messages .fromID-6322480 .badge-box i.bdg,
#chat-messages .id-6322480 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/DrKirby.gif);
    background-size: cover;
}

#chat-messages .fromID-9730699 .badge-box i.bdg,
#chat-messages .id-9730699 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/9730699.jpg);
    background-size: cover;
}

#chat-messages .fromID-5824512 .badge-box i.bdg,
#chat-messages .id-5824512 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/5824512.png);
    background-size: cover;
}

#chat-messages .fromID-3745645 .badge-box i.bdg,
#chat-messages .id-3745645 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/3745645.gif);
    background-size: cover;
}

#chat-messages .fromID-6043201 .badge-box i.bdg,
#chat-messages .id-6043201 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Gingerbeard.gif);
    background-size: cover;
}

#chat-messages .fromID-6430566 .badge-box i.bdg,
#chat-messages .id-6430566 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/xChillstepx.gif);
    background-size: cover;
}

#chat-messages .fromID-6191575 .badge-box i.bdg,
#chat-messages .id-6191575 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/korqie.png);
    background-size: cover;
}

#chat-messages .fromID-3864151 .badge-box i.bdg,
#chat-messages .id-3864151 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/3864151.gif);
    background-size: cover;
}

#chat-messages .fromID-6601193 .badge-box i.bdg,
#chat-messages .id-6601193 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/6601193.gif);
    background-size: cover;
}

#chat-messages .fromID-5823241 .badge-box i.bdg,
#chat-messages .id-5823241 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/stray.gif);
    background-size: cover;
}

#chat-messages .fromID-4486929 .badge-box i.bdg,
#chat-messages .id-4486929 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/4486929.png);
    background-size: cover;
}

#chat-messages .fromID-3580689 .badge-box i.bdg,
#chat-messages .id-3580689 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/costco.jpg);
    background-size: cover;
}

#chat-messages .fromID-4024202 .badge-box i.bdg,
#chat-messages .id-4024202 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/girl.jpg);
    background-size: cover;
}

#chat-messages .fromID-3634962 .badge-box i.bdg,
#chat-messages .id-3634962 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/cake.gif);
    background-size: cover;
}

#chat-messages .fromID-3623535 .badge-box i.bdg,
#chat-messages .id-3623535 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/3623535.gif);
    background-size: cover;
}

#chat-messages .fromID-4371183 .badge-box i.bdg,
#chat-messages .id-4371183 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/4371183.gif);
    background-size: cover;
}

#chat-messages .fromID-5903745 .badge-box i.bdg,
#chat-messages .id-5903745 .badge-box i.bdg {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/5903745.gif);
    background-size: cover;
}

#chat-messages .fromID-5612104 .badge-box i,
#chat-messages .id-5612104 .badge-box i {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Exuviax.gif)!important;
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#chat-messages .fromID-6717962 .badge-box i,
#chat-messages .id-6717962 .badge-box i {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/6717962.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#chat-messages .ifromID10242712 .badge-box i,
#chat-messages .id-10242712 .badge-box i {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/10242712.jpg);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#chat-messages .fromID-5281759 .badge-box i,
#chat-messages .id-5281759 .badge-box i {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/5281759.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#chat-messages .fromID-6060631 .badge-box i,
#chat-messages .id-6060631 .badge-box i {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/jack.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#chat-messages .fromID-6534022 .badge-box i,
#chat-messages .id-6534022 .badge-box i {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/6534022.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#chat-messages .fromID-6409895 .badge-box i,
#chat-messages .id-6409895 .badge-box i {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/swiss.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#chat-messages .fromID-6619845 .badge-box i,
#chat-messages .id-6619845 .badge-box i {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/6619845.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#chat-messages .fromID-6370105 .badge-box i,
#chat-messages .id-6370105 .badge-box i {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Stasmac.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#chat-messages .fromID-5284420 .badge-box i,
#chat-messages .id-5284420 .badge-box i {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/5284420.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#chat-messages .fromID-6189564 .badge-box i,
#chat-messages .id-6189564 .badge-box i {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/DrRocket.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#chat-messages .fromID-5158507 .badge-box i,
#chat-messages .id-5158507 .badge-box i {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/GYVUS.jpg);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#chat-messages .fromID-6712174 .badge-box i,
#chat-messages .id-6712174 .badge-box i {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/6712174.jpg);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#chat-messages .fromID-5091643 .badge-box i,
#chat-messages .id-5091643 .badge-box i {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/RBM.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#chat-messages .fromID-6193440 .badge-box i,
#chat-messages .id-6193440 .badge-box i {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/6193440.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*                                                                         */
#chat-messages .fromID-5425875 .badge-box i,
#chat-messages .id-5425875 .badge-box i {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Pussy.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#chat-messages .fromID-5162920 .badge-box i,
#chat-messages .id-5162920 .badge-box i {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Tomato.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#chat-messages .fromID-5769847 .badge-box i,
#chat-messages .id-5769847 .badge-box i {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/Axle.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#chat-messages .fromID-5010887 .badge-box i,
#chat-messages .id-5010887 .badge-box i {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/roomba.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#chat-messages .fromID-5005391 .badge-box i,
#chat-messages .id-5005391 .badge-box i {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/JustChill.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#chat-messages .fromID-5975194 .badge-box i,
#chat-messages .id-5975194 .badge-box i {
    background-image: url(https://chilloutmusic.fm/img/Archive/theme/Icons/roomba.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#chat-messages .fromID-3798150 .badge-box i.bdg,
#chat-messages .id-3798150 .badge-box i.bdg {
    background-image: url(https://mitchdev.net/pdj/icons/3798150.gif);
    background-size: cover;
}

#chat-messages .fromID-6109688 .badge-box i.bdg,
#chat-messages .id-6109688 .badge-box i.bdg {
    background-image: url(https://i.imgur.com/3I2K2m2.gif);
    background-size: cover;
}
