#chat-messages .fromID-4468203 .badge-box i,
#chat-messages .id-4468203 .badge-box i {
    background-image: url(http://i.imgur.com/otDXK5y.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}
